.transaction-item {
  direction: rtl;
  display: flex;
  border: 1px solid;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 10px 0;
  width: 50vw;
}

.row {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid;
}

.col {
  flex: 1;
}

.item {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  padding-top: 10px;
  align-items: center;

  .date {
    color: gray;
  }

  .name, .total {
    font-weight: bold;
  }
}
