<div class="container">
  <p-toolbar styleClass="header">
    <span class="title">העסקאות שלי</span>
    <button (click)="logout()">התנתק</button>
  </p-toolbar>

  <ng-container *ngIf="transactions$ | async as transactions; else loadingOrError">

    <div class="transaction-table">
      <div class="table-header">
        <div class="col">שם העסק</div>
        <div class="col">תאריך עסקה</div>
        <div class="col">סכום עסקה</div>
      </div>
      <app-transaction-item *ngFor="let transaction of transactions"
                            [transaction]="transaction"></app-transaction-item>
    </div>
  </ng-container>
  <ng-template #loadingOrError>
    <div>
      קיימת תקלה בשרות, אנא נסו שוב
    </div>
  </ng-template>

  <app-transaction-total [total]="total" (OnSaveMonthly)="saveMonthlyTransactions()"></app-transaction-total>
<!--  <div class="total-container" *ngIf="total">-->
<!--    <div class="total">-->
<!--      <span>סכום עסקאות כולל בחודש אוגוסט</span>&nbsp;-->
<!--      <span>{{total}}</span>-->
<!--    </div>-->
<!--    <button (click)="saveMonthlyTransactions()">שמור</button>-->
<!--  </div>-->

  <p-toolbar styleClass="footer">
    <span class="title">כל הזכויות שמורות לכאל</span>
  </p-toolbar>

</div>
<p-toast position="bottom-right"></p-toast>
