
:host ::ng-deep .p-toolbar.header, :host ::ng-deep .p-toolbar.footer {
  background-color: #0f2133;
  height: 50px;
  border: none;
  width: 100%;
  margin-bottom: 10px;

  .title {
    font-size: 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
  }


  @media only screen and (max-width: 768px) {
    .title {
      font-size: 14px;
    }
  }

}

:host ::ng-deep .p-toolbar.footer {
  margin-top: 20px;
  margin-bottom: 0;
}

.transaction-table {
  margin: auto;
  max-width: 500px;
}

.server-error {
  font-size: 30px;
  margin: 50px;
}
