.total-container {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
  margin-top: 30px;

}

.total {
  font-weight: bold;
}

.save {
  background: #0f2133;
  color: white;
}
